cat <<EOF > .gitignore

.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.tar.gz
*.Rcheck/

src/*.o
src/*.so
src/*.dll
vignettes/*.html
vignettes/*.pdf

dev/*.pdf
dev/*.png
dev/*.jpg

.gemini/
*.jsonl
*_chat_log.md

*.md
!README.md
!NEWS.md
EOF

doc/
Meta/
EOF